body,html{
	background-color: white;
	width: 100%;
	height: 100%;
	/* position: fixed; */
}
/* 苹果手机网站取消点击后的阴影 */
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */ }  




.left{
	float: left;
}
.right{
	float: right;
}
header{
	width: 7.02rem;
	padding: 0 .24rem;
	height: .88rem;
	line-height: .88rem;
	background: #ffffff;
	color: #000;
	font-size: .35rem;
	text-align: center;
	overflow: hidden;
}
.cashwrap{
	padding-top:43px;
	width: 100%;
	background: white;
	/*border-bottom: solid .2rem #efeff4;*/
/*	text-align: center;*/
}
.zfbcash{
	width: 100%;
	background: #efeff4;
	border-bottom: solid .2rem #efeff4;
}
.zfbpay{
	width: 7.02rem;
	height: .9rem;
	padding: 0 .24rem;
	background: white;
	overflow: hidden;
	position: relative;
}
.zfbpay .zfbpng{
	display: inline-block;
	width: .48rem;
	height: .48rem;
	margin-top: .21rem;
}
.zfbpay span{
	display: inline-block;
	font-size: .3rem;
	color: #363636;
	margin-top: .21rem;
	position: absolute;
	left: .82rem;
	top: .02rem;
}
.zfbpay .zfbpay-check,.zfbpay .zfbpay-nocheck{
	display: inline-block;
	width: .3rem;
	height: .3rem;
	float: right;
	margin-top: .3rem;
	cursor: pointer;
}
.zfbcash .zfbtitle{
	line-height: .8rem;
	font-size: .3rem;
	text-indent: .48rem;
}
.addmiddle{
	width: 7.02rem;
	padding: 0 .24rem;
	height: 1.7rem;
	background: #efeff4;
	border-bottom: solid .2rem #efeff4;
}
.addmiddle .title{
	line-height: .8rem;
	font-size: .3rem;
}
.addmiddle .zfbname,.addmiddle .zfbnum{
	line-height: .42rem;
	color: #979797;
	font-size: .3rem;
}
.cashwrap .cashname{
	height: .96rem;
	line-height: .96rem;
	text-align: center;
	font-size: .3rem;
	margin-bottom: .11rem;
}
.cashwrap .cashdetail{
	width: 5.8rem;
	margin-left: .85rem;
	height: .93rem;
	border-bottom: 1px solid #efeff4;
}
.cashwrap .cashdetail .money{
	width: 100%;
	height: .67rem;
	font-size: .48rem;
}
.cashwrap .cashdetail .money input{
	width: 88%;
	height: .67rem;
	line-height: .67rem;
	font-size: .48rem;
}
.cashwrap .infactmoney{
	width: 5.8rem;
	margin-left: .85rem;
	padding-top: .18rem;
	height: .57rem;
	font-size: .24rem;
	color: #979797;
}
.cashwrap .infactmoney span{
	color: #FD3422;
}
.account,.account2{
	width: 7.02rem;
	padding: 0 .24rem;
	height: .9rem;
	line-height: .9rem;
	border-bottom: .02rem solid #efeff4;
	background: white;
}
.account span,.account2 span{
	font-size: .3rem;
}
.cashbtnwrap{
	width: 100%;
}
.cashbtnwrap .cashbtn{
	width: 6.4rem;
	height: .88rem;
	line-height: .88rem;
	background: #FD3422;
	color: white;
	border-radius: .06rem;
	text-align: center;
	font-size: .3rem;
	margin-left: .55rem;
	margin-top: .41rem;
}
.oh{overflow: hidden;}

/*账单详情页*/
.cdname{
	width: 7.02rem;
	padding: 0 .24rem;
	height: 1rem;
	line-height: 1rem;
	border-bottom: .02rem solid #efeff4;
}
.cdname span{
	font-size:.3rem ;
}
.cdwrap{
	width: 100%;
}
.cdwrap .cddetail{
	width: 7.02rem;
	padding: 0 .24rem;
	height: .42rem;
	line-height: .42rem;
	margin-top: .2rem;
}
.cdwrap .cddetail span{
	font-size:.3rem ;
}
.cdwrap .cddetail .left{
	color: #979797;
}
footer{
	display: none;
	width: 100%;
	height: .42rem;
	line-height: .42rem;
	font-size: .3rem;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: .2rem;
}
footer span{
	cursor: pointer;
}

/*提现进度页面*/
.imgprogress{
	width: 100%;
	height: 4.9rem;
}
.pwrap{
	width: 100%;
}
.pwrap .pdetail{
	width: 7.02rem;
	padding: 0 .24rem;
	height: .42rem;
	line-height: .42rem;
	margin-top: .2rem;
}
.pwrap .pdetail span{
	font-size:.3rem ;
}
.pwrap .pdetail .left{
	color: #979797;
}

header .iconfont{
	font-size: .36rem;
	margin-top: .02rem;
}


.bindbg,.passwordBg{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.3);
}
/* .bindbg .bindWrap{
	width: 6.4rem;
	height: 2.6rem;
	background: #fff;
	border-radius: .12rem;
	position: absolute;
	left: .55rem;
	top: 2.88rem;
}
.bindbg .bindWrap .top{
	width: 100%;
	height: 1.6rem;
	overflow: hidden;
	border-bottom: .01rem solid rgba(151,151,151,0.50);
}
.bindbg .bindWrap .top p{
	font-size:.3rem ;
	color: #363636;	
	text-align: center;
	line-height: .42rem;
}
.bindbg .bindWrap .top .p1{
	margin-top: .59rem;
}
.bindbg .bindWrap .bottom{
	width: 6.4rem;
	font-size:.3rem ;
	color: #363636;
	font-weight: bolder;
	overflow: hidden;
	height: .99rem;
}
.bindbg .bindWrap .bottom div{
	float: left;
	text-align: center;
	height: .99rem;
	line-height: .99rem;
}
.bindbg .bindWrap .bottom .left{
	width: 3.2rem;
	border-right: .01rem solid rgba(151,151,151,0.50);
	cursor: pointer;
}
.bindbg .bindWrap .bottom .right{
	width: 3.19rem;
	cursor: pointer;
}

.passwordBg .passwordWrap{
	width: 6.4rem;
	height: 4.63rem;
	background: #fff;
	border-radius: .12rem;
	position: absolute;
	left: .55rem;
	top: 85px;
}
.passwordBg .passwordWrap .top{
	height: .88rem;
	line-height: .88rem;
	border-bottom: .01rem solid rgba(151,151,151,0.50);
	text-align: center;
	font-size:.3rem ;
	color: #363636;
	position: relative;
}
.passwordBg .passwordWrap .top span{
	position: absolute;
	right: .2rem;
	top: -.02rem;
 	display: block;
	width: .4rem;
	height: .4rem;
	font-size: .36rem;
	cursor: pointer;
}
.passwordBg .passwordWrap .bottom .title{
	font-size:.3rem ;
	color: #363636;
	text-align: center;	
	line-height:1.06rem ;
}
.passwordBg .passwordWrap .bottom .money{
	font-size:.4rem ;
	color: #363636;
	text-align: center;	
	margin-bottom: .52rem;
	margin-top: -.1rem;
}
.passwordBg .passwordWrap .bottom .payFee{
	font-size:.3rem ;
	color: #ff1400;
	text-align: center;	
	line-height: .6rem;
} */

/* .passwordBg .passwordWrap .bottom .passWrap{
	width: 100%;
	height: .82rem;
	overflow: hidden;
}

.passwordBg .passwordWrap .passWrap ul{
	width:4.87rem ;
	height: .82rem;
	margin: 0 auto;
} */
/* .passwordBg .passwordWrap ul li{
	width:16.3%;
	height: 40px;;
	float: left;
	text-align: center; */
	/* border-top: .01rem solid rgba(151,151,151,0.50);
	border-bottom: .01rem solid rgba(151,151,151,0.50);
	border-left: .01rem solid rgba(151,151,151,0.50);
	cursor: pointer; */
	
/* } */
/* .passwordBg .passwordWrap ul .pass6{
	border-right: .01rem solid rgba(151,151,151,0.50);
}
.passwordBg .passwordWrap ul li input{
	width: .7rem;
	height: .7rem;
	text-align: center;
	cursor: pointer;
}
.xiaq_tb{text-align: center;}
.xiaq_tb img{width: 25px;display: inline-block;} */





.pwd-box{
	position: fixed;width: 100%;height: 100%;left: 0;top: 0;
	background-color: rgba(0, 0, 0, 0.3);z-index: 99999;
   box-sizing: border-box;display: none;
 }
 .pwd-box input[type="number"]{padding-left: 20px;
	 width:248px;
	 height: 45px;
	 color: transparent;
	 position: absolute;
	 top: 130px;
	 left:50%;
	 margin-left: -124px;
	 border: none;
	 font-size:12px;
	 opacity: 0;
	 z-index: 1;z-index: 9;
	 letter-spacing: 35px;
	 /* margin-left: -100%; */
	 /* outline:none;  */
	 
	 /* 不显示输入框光标 */
	  /*文本向左缩进*/
	 text-indent: -999em;
    /*输入框光标起始点向左左移*/
	 margin-left: -100%; 
	 /* 输入框增大一倍 */
	 width: 200%;       
	 opacity: 0;
 }
 .fake-box{font-size: 0px;
	 width:248px;margin: 0 auto;
	 margin-top: 30px;box-sizing: border-box;
	 border:1px solid #bfb6b6;
 }
 .fake-box input{
	 width:41px;
	 height: 41px;
	 border: none;
	 border-right: 1px solid #e5e5e5;
	 text-align: center;
	 font-size: 18px;border-radius: 0px;
	 margin:0 !important;box-sizing: border-box;
	 /* -webkit-user-modify: read-write-plaintext-only;  */
 }
 .fake-box input:nth-last-child(1){
	 border:none;
 }
 .item_con{background-color: #fff;width:90%;position:fixed;
 left: 5%;top: 85px;border-radius: 5px;padding-bottom: 25px;}
 #close_span{position: absolute;font-size: 25px;top: 3px;right:8px;color: #666;}
 
 #box-title{
	 height: 40px;
	 width:100%;
	 border-bottom: 0.2px solid #e5e5e5;
 }
 #title-text{
	 height: 30px;
	 width: 100%;
	 text-align: center;
	 line-height: 27px;
	 display: block;
	 margin-top: 10px;
	 font-size: 16px;
 }
 #money-box{
	 width: 100%;
	 height: 50px;
 }
 #content-text{
	 height: 30px;
	 width:100%;
	 text-align: center;
	 line-height: 27px;
	 display: block;
	 margin-top: 10px;
	 font-size: 24px;
 }
 #forget-pwd{
	 margin-top:5px;
	 margin-right: 15px;
	 float: right;
	 text-decoration:none;
	 color: #666;
 }

 #money-box #money-title{
	font-size:.3rem ;
	color: #363636;
	text-align: center;	
	line-height:.6rem ;
}
#money-box #money-title .money{font-size: .4rem;}

.pwd-box .item_con .payFee{
	font-size:.3rem ;
	color: #ff1400;
	text-align: center;	
	/* line-height: .6rem; */
}