body,html{
	background-color: #efeff4;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* 苹果手机网站取消点击后的阴影 */
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; /* For some Androids */ }  

/* css手机网站取消长按复制 */
*{   
	-webkit-touch-callout:none;  /*系统默认菜单被禁用*/   
	-webkit-user-select:none; /*webkit浏览器*/   
	-khtml-user-select:none; /*早期浏览器*/   
	-moz-user-select:none;/*火狐*/   
	-ms-user-select:none; /*IE10*/   
	user-select:none;   
}  
header{
	width: 7.02rem;
	padding: 0 .24rem;
	height: .88rem;
	line-height: .88rem;
	background: #fff;
	color: #000;
	font-size: .35rem;
	text-align: center;
	overflow: hidden;
}
.setPasswordWrap{
	width: 100%;
	height: 10rem;
	
}
.setPasswordWrap ul{
	width:4.87rem ;
	height: .82rem;
	margin: 0 auto;
}
.setPasswordWrap ul li{
	width: .7rem;
	height: .7rem;
	padding: .05rem;
	float: left;
	text-align: center;
	border-top: .01rem solid #979779;
	border-bottom: .01rem solid #979779;
	border-left: .01rem solid #979779;
}
.setPasswordWrap ul .pass6{
	border-right: .01rem solid #979779;
}
.setPasswordWrap ul li input{
	width: .7rem;
	height: .7rem;
	text-align: center;
	background: #efeff4;
}
.setPasswordWrap p{
	font-size: .3rem;
	color: #363636;
	text-align: center;
	margin-top: 1.6rem;
	margin-bottom: .4rem;
}
.setPasswordWrap .finishBtn{
	width: 7.08rem;
	height: .88rem;
	line-height: .88rem;
	text-align: center;
	background: #ff1400;
	border-radius: .08rem;
	color: #fff;
	margin: 0 auto;
	font-size: .36rem;
	margin-top: 1rem;
	cursor: pointer;
}
.setBg{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.3);
}
.setBg .setWrap{
	width:6.4rem ;
	height: 2rem;
	line-height: 2rem;
	font-size: .3rem;
	color: #363636;
	background: #fff;
	border-radius: .12rem;
	margin: 0 auto;
	margin-top: 2.9rem;
	text-align: center;
}
.setPasswordWrap .falseDetail{
	font-size: .3rem;
	color: #FF1400;
	text-align: center;
	margin-bottom: 0;
	margin-top: .2rem;
	display: none;
}
