<div class="main">
    <div class="main_inner clearfix">
        <!-- <div class="no_network">
            <span>当前网络不可用，请检查你的网络设置</span>
        </div> -->
        <div class="mainBox pull-left" ng-show="!showState.isPhone||!showState.isChat">
            <div class="LeftNav-item" ui-sref="main.userinfo">
                <div class="user">
                    <!-- 获取用户头像 -->
                    <div id="loginuser" class="portrait" ng-show="!mainData.loginUser.portraitUri">
                        {{mainData.loginUser.firstchar}}
                    </div>
                    <img class="userPic Avatar--22" ng-show="mainData.loginUser.portraitUri" ng-src="{{mainData.loginUser.portraitUri||'assets/img/barBg.png'}}"  >
                    <!-- <i class="Presence Presence--stacked Presence--toolbar"></i> -->
                </div>
                <!-- 获取用户名 -->
                <div class="nickname" ng-show="mainData.loginUser.portraitUri">
                    {{mainData.loginUser.nickName}}
                </div>
                <!-- 退出登录 -->
                <div class="out" ng-click="logout()">
                    <img src="assets/img/quit.png" />
                </div>
            </div>



            <!-- 搜索框 -->
            <div id="search-friend">
                <search-input search="search(content)" control="searchControl" delay-time="0" show-text="搜索"></search-input>
            </div>

            <!-- 聊天联系人，群组，导航-->
            <div class="toolbar pull-left" ng-show="!showState.isPhone||!showState.isChat">
                <div class="bar LeftNav">
                    <!-- 会话 -->
                    <div class="LeftNav-item iconfont-single" title="会话" ng-click="switchbtn.isFriendList=1">
                        <div class="singleChat">
                            <a>single chat</a>
                            <i class="badge bg-tred" ng-show="mainData.conversation.totalUnreadCount>0">{{mainData.conversation.totalUnreadCount>99 ? "99+" : mainData.conversation.totalUnreadCount}}</i>
                        </div>
                    </div>
                    <!-- 群组 -->
                    <div class="LeftNav-item iconfont-group" title="群组" ng-click="switchbtn.isFriendList=2">
                        <div class="groupChat">
                            <a>group chat</a>
                            <i class="Presence Presence--stacked" ng-show="mainData.notification.hasNewNotification"></i>
                        </div>
                    </div>
                    <!-- 联系好友 -->
                    <div class="LeftNav-item iconfont-friend" title="好友" ng-click="switchbtn.isFriendList=3">
                        <div class="friendChat">
                            <a>friend chat</a>
                            <i class="Presence Presence--stacked" ng-show="mainData.notification.hasNewNotification"></i>
                        </div>
                    </div>
                    <!-- <div class="LeftNav-item iconfont-add"  addbtn>
                        <div>
                            <a >add</a>
                            <ul class="addPanel" style="display:none">
                                <!-- <li id="createGroup"><a  ui-sref="main.creategroup">创建群组</a></li>-->
                    <!-- <li id="addFriends"><a  ui-sref="main.searchfriend">添加好友</a></li> -->
                    <!-- <li id="addDiscussion"><a  ui-sref="main.discussionaddmember({iscreate: 'true', idorname: ''})">发起聊天</a></li> -->
                    <!-- <li id="addGroup"><a href="javascript:void (0)" ui-sref="main.searchgroup">加入群组</a></li> -->
                    <!-- </ul>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- 聊天会话，联系人，群组切换 -->
            <!-- 会话 -->
            <!-- 把这里的id给删除了，就是因为会话框的滚动条无法往最下面处拉。其他地方暂时没发现错误<div id="chatArea" class="chatArea beautscroll" ng-show="switchbtn.isFriendList==1"> -->
            <div id="chatArea" class="chatArea beautscroll" ng-show="switchbtn.isFriendList==1">
                <p class="withoutFriends" style="text-align:center;margin-top: 200px;" ng-show="!mainData.conversation.conversations||!mainData.conversation.conversations.length">您还没有添加会话</p>
                <conversation ng-repeat="item in mainData.conversation.conversations" item='item'></conversation>
            </div>

            <!-- 群组 -->
            <div class="communicateList beautscroll" ng-show="switchbtn.isFriendList==2">
                <div class="groupArea">
                    <!-- <div class="groupAreaHeader" ng-click="showgroups=!showgroups">群组
                        <span class="caret" ng-class="{'open':!showgroups}"></span>
                    </div> -->
                    <div class="groupAreaBody" ng-show="!showgroups">
                        <groupitem ng-repeat="item in mainData.contactsList.groupList" item="item" class="noticeBarList" ng-click="getCommunityMemmbers(item.ida)"></groupitem>
                    </div>
                </div>
            </div>

            <!-- 联系人 -->
            <div class="communicateList beautscroll" ng-show="switchbtn.isFriendList==3">
                <div class="membersArea">
                    <!-- <div class="membersAreaHeader" ng-click="showfriends=!showfriends">联系人
                        <span class="caret" ng-class="{'open':!showfriends}"></span>
                    </div> -->

                    <div class="membersAreaBody" ng-show="!showfriends">
                        <div class="namesortWrap namesortA" ng-repeat="subgroup in mainData.contactsList.subgroupList">
                            <div class="namesortHd">{{subgroup.title}}</div>
                            <frienditem class="members_item " ng-repeat="item in subgroup.list" item="item"></frienditem>
                        </div>
                        <!-- <frienditem ng-repeat="item in mainData.contactsList.friendList" item="item"></frienditem> -->
                    </div>
                </div>
            </div>



            <!-- 搜索框出现的内容 -->
            <div class="communicateList communicateList_ok" ng-show="switchbtn.issearchList">
                <div class="membersArea" ng-show="searchList.friendList.length">
                    <div class="membersAreaHeader">联系人</div>
                    <div class="membersAreaBody">
                        <div class="namesortWrap">
                            <frienditem class="members_item " ng-repeat="item in searchList.friendList" item="item"></frienditem>
                        </div>
                    </div>
                </div>
                <div class="groupArea" ng-show="searchList.groupList.length">
                    <div class="groupAreaHeader">群组</div>
                    <div class="groupAreaBody">
                        <groupitem ng-repeat="item in searchList.groupList" item="item" class="noticeBarList"></groupitem>
                    </div>
                    <!-- <groupitem  ng-repeat="item in searchList.groupList" item="item"></groupitem> -->
                </div>
            </div>

        </div>

        <!-- 右边方框（变动） -->
        <div class="chatBox chatBox1" ui-view ng-show="!showState.isPhone||showState.isChat">
            <div class="drag_area"></div>
            <div class="emptyBox">
            </div>
        </div>
    </div>


    <div class="previewPicLayer"></div>
    <!-- <div class="previewPic" ng-keypress="checkSend($event)" tabindex="1">
        <span class="closeBtn"  ng-click="showPasteDiv(false)"></span>
        <h2>发送图片</h2>
        <div class="picWrap">
            <img class="picContent" alt=""/>
        </div>
        <div class="picFooter">
            <button type="button" class="btn" ng-click="showPasteDiv(false)">取消</button>
            <button type="button" class="btn cur" ng-click="uploadPasteImage()">发送</button>
        </div>
    </div> -->
    <div class="load-container">
        <div class="loader">Loading...</div>
    </div>
    <audio id="playsound" style="width: 0px;height: 0px;display: none;" src="assets/img/sms-received.mp3" controls="controls"></audio>
</div>
<!-- 弹出删除框 -->
<div id="del_box">
    <span>删除聊天</span>
</div>


<script>
    // 选项卡
    $(".iconfont-single").addClass("cur");
    BeautScroll();
    $(".iconfont-single").click(function (e) {
        $(this).addClass("cur");
        $(".iconfont-group").removeClass("cur");
        $(".iconfont-friend").removeClass("cur");
        BeautScroll();
    });
    $(".iconfont-group").click(function (e) {
        $(this).addClass("cur");
        $(".iconfont-single").removeClass("cur");
        $(".iconfont-friend").removeClass("cur");
        BeautScroll();
    });
    $(".iconfont-friend").click(function (e) {
        $(this).addClass("cur");
        $(".iconfont-group").removeClass("cur");
        $(".iconfont-single").removeClass("cur");
        BeautScroll();
    });
    // 滚动条
    function BeautScroll() {
        $('.beautscroll').niceScroll({
            cursorcolor: "#363636",//#CC0071 光标颜色
            cursoropacitymax: 1, //改变不透明度非常光标处于活动状态（scrollabar“可见”状态），范围从1到0
            touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
            cursorwidth: "8px", //像素光标的宽度
            cursorborder: "0", // 游标边框css定义
            cursorborderradius: "5px",//以像素为光标边界半径
            autohidemode: true //是否隐藏滚动条
        });
    }

    // window.onload = function(){
    //     document.oncontextmenu = function(e){
    //         e.preventDefault();

    //     };
    //     document.getElementById("del_box").onmousedown=function(e){
    //     return false;
    //     if(e.button == 2){
    //         alert("你点了右键");
    //     }else if(e.button == 0){
    //         alert("你点了左键");
    //     }else if(e.button == 1){
    //         alert("你点了滚轮");
    //     }
    //     }
    // }


    //阻止浏览器默认右键点击事件
    // document.oncontextmenu = function () {
    //     return false;
    // };
    // window.onload=function(){ 
    //     var forRight = document.getElementById("del_box");//获取对象，现在太熟悉了 
    //     document.getElementById("chatArea").oncontextmenu=function(event){        
    //         forRight.style.display = "none";
    //         var event = event || window.event;
    //         forRight.style.display = "block";
    //         forRight.style.left = event.clientX + "px";
    //         forRight.style.top = event.clientY + "px";//鼠标的坐标
    //         // console.log(event.clientX);
    //         // console.log(event.clientY);
    //         // return false;//这里返回false就是为了屏蔽默认事件 
    //     };
    //     document.onclick = function () {//就是为了更形象的模仿啊 
    //         forRight.style.display = "none";
    //     };
    //     cosole.log($this);
    // }

    // jq 实现右键删除

    document.oncontextmenu = function () {
        return false;
    };
    // 阻止默认右键事件
    var forRight = document.getElementById("del_box");//获取对象，现在太熟悉了 
    var huihua_id;
    $(document).on("mousedown", ".chatList", function (e) {
        var that = this;
        if (3 == e.which) {
            forRight.style.left = e.clientX + "px";
            forRight.style.top = e.clientY + "px";//鼠标的坐标
            forRight.style.display = "block";
            huihua_id = $(that).attr("id");
            var _arr = huihua_id.split("_");
            $("#del_box").click(function (e) {
                RongIMClient.getInstance().removeConversation(parseInt(_arr[0]), _arr[1], {
                    onSuccess: function (bool) {
                        $(that).remove();
                        forRight.style.display = "none";
                    },
                    onError: function (error) {
                        forRight.style.display = "none";
                        alert("删除失败！");
                    }
                });
                e.stopPropagation();
            });
            e.stopPropagation();
        }
    });
    $("body").click(function (e) {
        forRight.style.display = "none";
    })

</script>